/* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_fonts.scss */
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #292f33;
}

/* line 7, ../sass/_fonts.scss */
h1,
h2,
h3,
h4,
h5
h6 {
  -webkit-margin-before: 0;
  margin-bottom: .35em;
}

/* line 17, ../sass/_fonts.scss */
p {
  -webkit-margin-before: 0;
  margin-bottom: 1em;
}

/* line 22, ../sass/_fonts.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul li,
blockquote,
form.hs-form .hs-form-field *,
form.hs-form .hs-error-msgs * {
  font-family: "Open Sans", sans-serif;
}

/* line 36, ../sass/_fonts.scss */
.hs-cta-wrapper .hs-cta-node a,
form.hs-form .hs_submit input {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600;
}

/* line 42, ../sass/_fonts.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
}

/* line 52, ../sass/_fonts.scss */
h1 {
  font-size: 48px;
  font-weight: 600;
}

@media (max-width: 767px) {
  /* line 58, ../sass/_fonts.scss */
  h1 {
    font-size: 36px;
  }
}
/* line 63, ../sass/_fonts.scss */
h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 300;
}

@media (max-width: 767px) {
  /* line 70, ../sass/_fonts.scss */
  h2 {
    font-size: 27px;
  }
}
/* line 75, ../sass/_fonts.scss */
h3 {
  font-size: 30px;
  font-weight: 300;
}

@media (max-width: 767px) {
  /* line 81, ../sass/_fonts.scss */
  h3 {
    font-size: 22.5px;
  }
}
/* line 86, ../sass/_fonts.scss */
h4 {
  font-size: 20px;
}

@media (max-width: 767px) {
  /* line 91, ../sass/_fonts.scss */
  h4 {
    font-size: 18px;
  }
}
/* line 96, ../sass/_fonts.scss */
h2.section-header {
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  /* line 101, ../sass/_fonts.scss */
  h2.section-header {
    padding-bottom: 20px;
  }
}
/* line 106, ../sass/_fonts.scss */
p,
li,
blockquote {
  font-size: 18px;
  line-height: 1.8;
}

/* line 113, ../sass/_fonts.scss */
strong {
  font-weight: 600;
}

/* line 117, ../sass/_fonts.scss */
i {
  font-style: italic;
}

/* line 1, ../sass/_form.scss */
form.hs-form .hs-form-required {
  color: #fc1111;
  padding-left: 3px;
}

/* line 6, ../sass/_form.scss */
form.hs-form input,
form.hs-form textarea,
form.hs-form select {
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
  transition: .2s;
  border: 1px solid #dee1e2;
  width: 100%;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}

/* line 17, ../sass/_form.scss */
form.hs-form input[type="radio"],
form.hs-form input[type="checkbox"] {
  width: auto;
  margin-right: 20px;
}

/* line 23, ../sass/_form.scss */
form.hs-form input,
form.hs-form textarea,
form.hs-form select,
.hs-form-radio-display span,
.hs-form-checkbox-display span,
.hs-form-booleancheckbox-display span {
  font-size: 16px;
}

/* line 32, ../sass/_form.scss */
form.hs-form input:focus,
form.hs-form textarea:focus,
form.hs-form select:focus {
  outline: none;
  border: 1px solid #879498;
}

/* line 39, ../sass/_form.scss */
form.hs-form select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 43, ../sass/_form.scss */
form.hs-form select:focus {
  outline: none;
}

/* line 47, ../sass/_form.scss */
form.hs-form input[type="submit"] {
  border: none;
}

/* line 51, ../sass/_form.scss */
form.hs-form .hs-form-field label {
  padding-bottom: 10px;
  display: block;
}

/* line 56, ../sass/_form.scss */
form.hs-form .hs-form-field label.hs-form-radio-display,
form.hs-form .hs-form-field label.hs-form-checkbox-display {
  padding-bottom: 0;
}

/* line 61, ../sass/_form.scss */
form.hs-form .hs_submit {
  text-align: center;
}

/* line 65, ../sass/_form.scss */
form.hs-form .hs_submit .actions {
  display: inline-block;
}

/* line 69, ../sass/_form.scss */
form.hs-form .hs_submit input {
  background: #ff9d00;
  color: #fff;
  text-transform: uppercase;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-appearance: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #ea9000;
  padding: 15px;
  cursor: pointer;
  margin-top: 15px;
}
/* line 14, ../sass/_mixins.scss */
form.hs-form .hs_submit input:hover {
  background: #ea9000;
  color: #fff;
}

/* line 75, ../sass/_form.scss */
form.hs-form .hs-form-field {
  padding: 10px 0;
}

/* line 79, ../sass/_form.scss */
form.hs-form fieldset {
  max-width: 670px;
  margin: 0 auto;
}

/* line 84, ../sass/_form.scss */
form.hs-form fieldset:first-child {
  padding-top: 0;
}

/* line 88, ../sass/_form.scss */
form.hs-form fieldset:last-child {
  padding-bottom: 0;
}

/* line 92, ../sass/_form.scss */
form.hs-form fieldset.form-columns-1 .hs-input {
  width: 100%;
}

/* line 96, ../sass/_form.scss */
form.hs-form .hs-error-msgs.inputs-list {
  margin: 0 0;
  color: #fc1111;
  list-style-type: none;
  padding: 5px 0 0 0;
}

/* line 103, ../sass/_form.scss */
form.hs-form .hs-error-msgs.inputs-list li {
  margin: 0 0;
}

/* line 107, ../sass/_form.scss */
form.hs-form .hs-error-msgs.inputs-list label {
  font-size: 14px;
  padding: 0 0;
}

@media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px) {
  /* line 114, ../sass/_form.scss */
  form.hs-form fieldset.form-columns-2 .hs-form-field .hs-input,
  form.hs-form fieldset.form-columns-3 .hs-form-field .hs-input {
    width: 100%;
  }
}
/* line 120, ../sass/_form.scss */
form.hs-form .hs-error-msgs * {
  color: #fc1111;
}

/* line 1, ../sass/_utility.scss */
.page-center {
  max-width: 975px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 12px 20px;
}

/* line 10, ../sass/_utility.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/_utility.scss */
body {
  margin: 0;
  border-top: none;
}

/* line 20, ../sass/_utility.scss */
a {
  -moz-transition: color, 0.3s;
  -o-transition: color, 0.3s;
  -webkit-transition: color, 0.3s;
  transition: color, 0.3s;
  color: #619cdc;
}
/* line 23, ../sass/_utility.scss */
a:hover {
  color: #619cdc;
}

/* line 28, ../sass/_utility.scss */
em {
  font-style: italic;
}

/* line 32, ../sass/_utility.scss */
strong {
  font-weight: bold;
}

/* line 36, ../sass/_utility.scss */
img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  /* line 41, ../sass/_utility.scss */
  .hide-mobile {
    display: none;
  }
}

/* line 47, ../sass/_utility.scss */
.display-none.display-none {
  display: none;
}

/* line 4, ../sass/_listing.scss */
.post__tagline,
.post__tagline span,
.post__tagline p {
  font-size: 14px;
  color: #808285;
  font-weight: 300;
  line-height: 1.5;
}

/* line 13, ../sass/_listing.scss */
.post--blog .post__tagline,
.post--blog .post__tagline span,
.post--blog .post__tagline p {
  font-size: 18px;
}

/* line 19, ../sass/_listing.scss */
.post__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  margin: 0 0;
  padding: 0 0 4px 0;
}

/* line 27, ../sass/_listing.scss */
.post__title-link {
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #292f33;
}

/* line 33, ../sass/_listing.scss */
.post__title-link:hover {
  color: #292f33;
}

/* line 37, ../sass/_listing.scss */
.post__topics {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #808285;
  text-transform: uppercase;
  letter-spacing: .4px;
  font-weight: normal;
  margin: 0 0;
}

/* line 42, ../sass/_listing.scss */
.post__topic-link,
.article__topic-link {
  background: #f6f7f8;
  padding: 2px 15px;
  text-decoration: none;
  display: inline-block;
  margin: 2px 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #808285;
  text-transform: uppercase;
  letter-spacing: .4px;
  font-weight: normal;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 52, ../sass/_listing.scss */
.post__topic-link .fa-tag,
.article__topic-link .fa-tag {
  margin-right: 8px;
}
/* line 56, ../sass/_listing.scss */
.post__topic-link:hover,
.article__topic-link:hover {
  color: #292f33;
}

/* line 61, ../sass/_listing.scss */
.post {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 64, ../sass/_listing.scss */
.post:hover {
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
/* line 67, ../sass/_listing.scss */
.post:hover .post__cta {
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}
/* line 72, ../sass/_listing.scss */
.post:hover .post__img-filter {
  background: rgba(78, 38, 0, 0.4);
}

/* line 86, ../sass/_listing.scss */
.listing--main {
  position: relative;
  z-index: 2;
  padding: 60px 0 0 0;
}

/* line 92, ../sass/_listing.scss */
.post--featured {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 40px;
}

/* line 97, ../sass/_listing.scss */
.post--featured,
.post--recent .post__preview {
  border: 1px solid #dee1e2;
}

/* line 107, ../sass/_listing.scss */
.post--featured .post__preview {
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 2;
  flex-grow: 2;
}
/* line 111, ../sass/_listing.scss */
.post--featured .post__img-wrap {
  flex-basis: 0;
  flex-grow: 1;
}

/* line 117, ../sass/_listing.scss */
.post--recent-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-flow: row wrap;
}
@media (max-width: 767px) {
  /* line 117, ../sass/_listing.scss */
  .post--recent-wrap {
    flex-direction: column;
  }
}

/* line 128, ../sass/_listing.scss */
.post--recent {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 48%;
  margin: 15px 0;
  padding: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 139, ../sass/_listing.scss */
.post--recent .post__img-wrap {
  min-height: 200px;
  max-height: 200px;
}

/* line 144, ../sass/_listing.scss */
.post--recent .post__preview {
  padding: 30px 20px 40px;
  height: 100%;
}

/* line 149, ../sass/_listing.scss */
.post__img-wrap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 20px 20px;
  text-decoration: none;
  position: relative;
}

/* line 161, ../sass/_listing.scss */
.post__cta {
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-appearance: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 15px;
  cursor: pointer;
  position: relative;
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 14, ../sass/_mixins.scss */
.post__cta:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

/* line 168, ../sass/_listing.scss */
.post__img-filter {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 177, ../sass/_listing.scss */
.post__date-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 0 12px 0;
}

/* line 184, ../sass/_listing.scss */
.post__date {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #808285;
  text-transform: uppercase;
  letter-spacing: .4px;
  font-weight: normal;
}

/* line 188, ../sass/_listing.scss */
.social__wrap {
  padding: 2px 0;
}

/* line 192, ../sass/_listing.scss */
.social__icon {
  text-decoration: none;
  font-size: 22px;
  color: #808285;
  padding: 0 1px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  /* line 192, ../sass/_listing.scss */
  .social__icon {
    padding: 7px;
  }
}

/* line 205, ../sass/_listing.scss */
.social__icon--facebook:hover {
  color: #3b5998;
}

/* line 211, ../sass/_listing.scss */
.social__icon--twitter:hover {
  color: #00aced;
}

/* line 216, ../sass/_listing.scss */
.social__icon--linkedin:hover {
  color: #0077B5;
}

/* line 221, ../sass/_listing.scss */
.social__icon--email:hover {
  color: #d34836;
}

/* line 226, ../sass/_listing.scss */
.post__preview {
  padding: 50px 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 234, ../sass/_listing.scss */
.post__preview--top {
  width: 100%;
}

/* line 238, ../sass/_listing.scss */
.post__tagline {
  padding: 10px 0 30px 0;
}

/* line 242, ../sass/_listing.scss */
.post__author {
  text-decoration: none;
  font-weight: 600;
  color: #619cdc;
}

/* line 248, ../sass/_listing.scss */
.post__author-img {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

/* line 255, ../sass/_listing.scss */
.post__byline-wrap {
  display: table;
  padding: 0 0 10px 0;
}

/* line 260, ../sass/_listing.scss */
.post__author-img,
.post__byline {
  display: table-cell;
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #808285;
  text-transform: uppercase;
  letter-spacing: .4px;
  font-weight: normal;
}

@media (max-width: 767px) {
  /* line 273, ../sass/_listing.scss */
  .listing--main .post {
    padding: 0 0;
  }
  /* line 276, ../sass/_listing.scss */
  .listing--main .post--featured {
    display: block;
  }
  /* line 279, ../sass/_listing.scss */
  .listing--main .post--featured .post__img-wrap {
    height: 200px;
  }
  /* line 282, ../sass/_listing.scss */
  .listing--main .post--featured .post__preview {
    padding: 30px 20px 50px;
  }
  /* line 285, ../sass/_listing.scss */
  .listing--main .post--recent {
    display: block;
    width: 100%;
  }
  /* line 289, ../sass/_listing.scss */
  .listing--main .post--featured,
  .listing--main .post--recent {
    margin-bottom: 20px;
  }
  /* line 293, ../sass/_listing.scss */
  .listing--main .post__cta {
    opacity: 1;
  }
  /* line 296, ../sass/_listing.scss */
  .listing--main .social__wrap {
    display: none;
  }
}
/* line 306, ../sass/_listing.scss */
.pagination {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 40px 0 60px 0;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 306, ../sass/_listing.scss */
  .pagination {
    display: none;
  }
}

/* line 318, ../sass/_listing.scss */
.pagination__first,
.pagination__last,
.pagination__item {
  color: #808285;
  text-decoration: none;
}

/* line 325, ../sass/_listing.scss */
.pagination__first {
  padding-right: 25px;
}

/* line 329, ../sass/_listing.scss */
.pagination__last {
  padding-left: 25px;
  text-align: right;
}

/* line 334, ../sass/_listing.scss */
.pagination__item {
  background: #f6f7f8;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding: 8px 10px;
  margin: 2px 3px;
  min-width: 46px;
  text-align: center;
  display: inline-block;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 346, ../sass/_listing.scss */
.pagination__item--current,
.pagination__item:hover {
  color: #292f33;
  opacity: 1;
}

/* line 352, ../sass/_listing.scss */
.pagination--mobile {
  display: none;
}
/* line 355, ../sass/_listing.scss */
.pagination--mobile .pagination__first,
.pagination--mobile .pagination__last {
  padding: 0 25px;
}
@media (max-width: 767px) {
  /* line 352, ../sass/_listing.scss */
  .pagination--mobile {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 40px 0 60px 0;
    width: 100%;
  }
}

/* line 2, ../sass/_footer.scss */
.agile__footer {
  background: #f6f7f8;
  border-top: 2px solid #dee1e2;
  padding: 80px 0 40px 0;
}
/* line 7, ../sass/_footer.scss */
.agile__footer h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 15px 0;
}
/* line 14, ../sass/_footer.scss */
.agile__footer li {
  font-size: 14px;
}
/* line 18, ../sass/_footer.scss */
.agile__footer a {
  text-decoration: none;
  color: #808285;
}
/* line 22, ../sass/_footer.scss */
.agile__footer a:hover {
  color: #ff9d00;
}
@media (max-width: 767px) {
  /* line 27, ../sass/_footer.scss */
  .agile__footer .social__wrap,
  .agile__footer h4 {
    padding-top: 50px;
  }
}

/* line 35, ../sass/_footer.scss */
.agile__footer--copyright {
  padding: 80px 0 0 0;
  display: block;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #808285;
  text-transform: uppercase;
  letter-spacing: .4px;
  font-weight: normal;
  color: #292f33;
}

/* line 1, ../sass/_hero.scss */
.agile__hero {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
/* line 7, ../sass/_hero.scss */
.agile__hero h1 {
  text-align: center;
}
/* line 11, ../sass/_hero.scss */
.agile__hero .agile__header {
  border-bottom: none;
}
/* line 16, ../sass/_hero.scss */
.agile__hero .form-title {
  display: none;
}
/* line 20, ../sass/_hero.scss */
.agile__hero form.hs-form {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}
/* line 28, ../sass/_hero.scss */
.agile__hero form.hs-form .hs-form-field {
  width: 100%;
}
/* line 31, ../sass/_hero.scss */
.agile__hero form.hs-form .hs-form-field > label {
  display: none;
}
/* line 36, ../sass/_hero.scss */
.agile__hero form.hs-form .hs_submit,
.agile__hero form.hs-form .hs_submit .actions {
  display: -webkit-flex;
  display: flex;
}
/* line 41, ../sass/_hero.scss */
.agile__hero form.hs-form .hs_submit input,
.agile__hero form.hs-form input {
  margin: 0 0;
  line-height: 16px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 10px 30px;
}
/* line 49, ../sass/_hero.scss */
.agile__hero form.hs-form .hs-error-msgs.inputs-list {
  position: absolute;
}
/* line 53, ../sass/_hero.scss */
.agile__hero form.hs-form .hs-form-field {
  padding: 0 0;
}
/* line 60, ../sass/_hero.scss */
.agile__hero.agile__hero--dark-bg * {
  color: #fff;
}
/* line 65, ../sass/_hero.scss */
.agile__hero.agile__hero--dark-bg form.hs-form .hs_submit input {
  background: rgba(255, 255, 255, 0.2);
}
/* line 69, ../sass/_hero.scss */
.agile__hero.agile__hero--dark-bg form.hs-form .hs_submit input:hover {
  background: #fff;
  color: #292f33;
}
/* line 75, ../sass/_hero.scss */
.agile__hero.agile__hero--dark-bg form.hs-form input,
.agile__hero.agile__hero--dark-bg form.hs-form textarea,
.agile__hero.agile__hero--dark-bg form.hs-form select,
.agile__hero.agile__hero--dark-bg form.hs-form input:focus,
.agile__hero.agile__hero--dark-bg form.hs-form textarea:focus,
.agile__hero.agile__hero--dark-bg form.hs-form select:focus {
  border: 2px solid #fff;
}
/* line 85, ../sass/_hero.scss */
.agile__hero.agile__hero--dark-bg form.hs-form .hs-error-msgs * {
  color: #fff;
}
/* line 93, ../sass/_hero.scss */
.agile__hero.agile__hero--light-bg * {
  color: #292f33;
}

/* line 101, ../sass/_hero.scss */
.agile__hero--inner {
  padding: 100px 0 180px 0;
}

/* line 2, ../sass/_nav.scss */
.agile__header {
  border-bottom: 1px solid #dee1e2;
}

/* line 6, ../sass/_nav.scss */
.agile__header--inner {
  padding: 12px 20px;
}

/* line 11, ../sass/_nav.scss */
.hs_cos_wrapper_type_logo img.hs-image-widget {
  max-width: 150px;
  padding: 5px 0;
}

/* line 17, ../sass/_nav.scss */
.agile__top {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 0 30px 0;
}
@media (max-width: 767px) {
  /* line 17, ../sass/_nav.scss */
  .agile__top {
    display: none;
  }
}

/* line 28, ../sass/_nav.scss */
.agile__header-widget {
  width: 100% !important;
}

/* line 32, ../sass/_nav.scss */
.agile__menu-icon,
.agile__menu {
  min-height: 0 !important;
}

/* line 39, ../sass/_nav.scss */
.agile__menu ul {
  float: right;
  padding: 0 0 0 10px;
  display: -webkit-flex;
  display: flex;
}
/* line 44, ../sass/_nav.scss */
.agile__menu ul.agile__menu--show {
  padding: 15px 0;
  width: 100%;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 767px) {
  /* line 44, ../sass/_nav.scss */
  .agile__menu ul.agile__menu--show {
    display: -webkit-flex !important;
    display: flex !important;
  }
}
@media (max-width: 767px) {
  /* line 39, ../sass/_nav.scss */
  .agile__menu ul {
    display: none !important;
    padding: 0 0;
  }
}
/* line 62, ../sass/_nav.scss */
.agile__menu ul li {
  text-align: center;
}
/* line 67, ../sass/_nav.scss */
.agile__menu a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #292f33;
  display: inline-block;
  text-align: center;
}
/* line 76, ../sass/_nav.scss */
.agile__menu a:hover {
  color: #ff9d00;
}

/* line 82, ../sass/_nav.scss */
.agile__menu-icon {
  display: none;
}
@media (max-width: 767px) {
  /* line 82, ../sass/_nav.scss */
  .agile__menu-icon {
    min-height: 0 !important;
    display: inline-block;
  }
  /* line 89, ../sass/_nav.scss */
  .agile__menu-icon .agile__menu-icon-lines-wrap {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px;
  }
  /* line 96, ../sass/_nav.scss */
  .agile__menu-icon .agile__menu-icon-lines {
    border-bottom: 16px double #ff9d00;
    border-top: 5px solid #ff9d00;
    content: "";
    height: 5px;
    width: 40px;
    padding-right: 15px;
    margin: 0px;
    padding: 3px;
  }
}

/* line 3, ../sass/_article.scss */
.article__header-inner {
  padding: 60px 0;
}

/* line 7, ../sass/_article.scss */
.article__title {
  margin: 0 0 30px 0;
}

/* line 11, ../sass/_article.scss */
.article__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  /* line 11, ../sass/_article.scss */
  .article__info {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* line 22, ../sass/_article.scss */
.article__author a {
  text-decoration: none;
  font-weight: 600;
  color: #619cdc;
}

/* line 34, ../sass/_article.scss */
.article__attribution {
  margin: 0 0;
}

/* line 39, ../sass/_article.scss */
.article__social {
  text-align: right;
}
/* line 43, ../sass/_article.scss */
.article__social .social__icon {
  text-decoration: none;
  font-size: 28px;
}
@media (max-width: 767px) {
  /* line 39, ../sass/_article.scss */
  .article__social {
    padding: 12px 0 0 0;
    text-align: left;
  }
  /* line 53, ../sass/_article.scss */
  .article__social .social__icon:first-child {
    padding-left: 0;
  }
}

/* line 63, ../sass/_article.scss */
.article__feat-img {
  height: 4 00px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  /* line 63, ../sass/_article.scss */
  .article__feat-img {
    height: 250px;
  }
}

/* line 79, ../sass/_article.scss */
.article__content {
  padding: 60px 0 30px 0;
}
/* line 82, ../sass/_article.scss */
.article__content img {
  padding: 20px 0;
}

/* line 90, ../sass/_article.scss */
.article__topics {
  padding: 30px 0 60px 0;
}

/* line 97, ../sass/_article.scss */
.article__bio {
  padding: 60px 0;
  border-top: 1px solid #dee1e2;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
@media (max-width: 767px) {
  /* line 97, ../sass/_article.scss */
  .article__bio {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* line 110, ../sass/_article.scss */
.article__bio-pic-wrap {
  padding-right: 60px;
}
@media (max-width: 767px) {
  /* line 110, ../sass/_article.scss */
  .article__bio-pic-wrap {
    padding: 0 0;
  }
}

/* line 118, ../sass/_article.scss */
.article__bio-pic {
  height: 80px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

@media (max-width: 767px) {
  /* line 123, ../sass/_article.scss */
  .article__bio-details {
    padding: 30px 0 0 0;
  }
}

/* line 131, ../sass/_article.scss */
.article__bio-name {
  margin: 0 0 20px 0;
}

/* line 136, ../sass/_article.scss */
.article__bio-desc {
  font-size: 16px;
  color: #808285;
}

/* line 145, ../sass/_article.scss */
.article__comments {
  padding: 60px 0;
  border-top: 1px solid #dee1e2;
}

/* line 150, ../sass/_article.scss */
.article__comments-header {
  padding: 0 0 30px 0;
}

/* line 156, ../sass/_article.scss */
#comments-listing .comment {
  border-top: 1px solid #dee1e2;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0;
}
/* line 161, ../sass/_article.scss */
#comments-listing .comment:first-child {
  border-top: none;
}
/* line 166, ../sass/_article.scss */
#comments-listing .comment-from h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #808285;
  text-transform: uppercase;
  letter-spacing: .4px;
  font-weight: normal;
  text-transform: capitalize;
}
/* line 171, ../sass/_article.scss */
#comments-listing .comment-date {
  color: #808285;
}
/* line 174, ../sass/_article.scss */
#comments-listing .comment-date:before {
  content: "| ";
}
/* line 179, ../sass/_article.scss */
#comments-listing .comment-body {
  padding: 10px 0 0;
}
/* line 182, ../sass/_article.scss */
#comments-listing .comment-body * {
  font-size: 16px;
}
/* line 187, ../sass/_article.scss */
#comments-listing .comment-reply-to {
  background: none;
  padding: 0 0;
  border: none;
  color: #619cdc;
  font-size: 14px;
  text-decoration: underline;
}
/* line 195, ../sass/_article.scss */
#comments-listing .comment-reply-to:hover {
  color: #619cdc;
}
/* line 199, ../sass/_article.scss */
#comments-listing .comment-reply-to:focus {
  outline: none;
}
/* line 203, ../sass/_article.scss */
#comments-listing .comment-reply-to em {
  font-style: normal;
  text-transform: capitalize;
}
