@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_fonts.scss */
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #292f33;
}

/* line 7, ../sass/_fonts.scss */
h1,
h2,
h3,
h4,
h5
h6 {
  -webkit-margin-before: 0;
  margin-bottom: .35em;
}

/* line 17, ../sass/_fonts.scss */
p {
  -webkit-margin-before: 0;
  margin-bottom: 1em;
}

/* line 22, ../sass/_fonts.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul li,
blockquote,
form.hs-form .hs-form-field *,
form.hs-form .hs-error-msgs * {
  font-family: "Open Sans", sans-serif;
}

/* line 36, ../sass/_fonts.scss */
.hs-cta-wrapper .hs-cta-node a,
form.hs-form .hs_submit input {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600;
}

/* line 42, ../sass/_fonts.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
}

/* line 52, ../sass/_fonts.scss */
h1 {
  font-size: 48px;
  font-weight: 600;
}

@media (max-width: 767px) {
  /* line 58, ../sass/_fonts.scss */
  h1 {
    font-size: 36px;
  }
}
/* line 63, ../sass/_fonts.scss */
h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 300;
}

@media (max-width: 767px) {
  /* line 70, ../sass/_fonts.scss */
  h2 {
    font-size: 27px;
  }
}
/* line 75, ../sass/_fonts.scss */
h3 {
  font-size: 30px;
  font-weight: 300;
}

@media (max-width: 767px) {
  /* line 81, ../sass/_fonts.scss */
  h3 {
    font-size: 22.5px;
  }
}
/* line 86, ../sass/_fonts.scss */
h4 {
  font-size: 20px;
}

@media (max-width: 767px) {
  /* line 91, ../sass/_fonts.scss */
  h4 {
    font-size: 18px;
  }
}
/* line 96, ../sass/_fonts.scss */
h2.section-header {
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  /* line 101, ../sass/_fonts.scss */
  h2.section-header {
    padding-bottom: 20px;
  }
}
/* line 106, ../sass/_fonts.scss */
p,
li,
blockquote {
  font-size: 18px;
  line-height: 1.8;
}

/* line 113, ../sass/_fonts.scss */
strong {
  font-weight: 600;
}

/* line 117, ../sass/_fonts.scss */
i {
  font-style: italic;
}

/* line 1, ../sass/_form.scss */
form.hs-form .hs-form-required {
  color: #fc1111;
  padding-left: 3px;
}

/* line 6, ../sass/_form.scss */
form.hs-form input,
form.hs-form textarea,
form.hs-form select {
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
  transition: .2s;
  border: 1px solid #cacdce;
  width: 100%;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}

/* line 17, ../sass/_form.scss */
form.hs-form input[type="radio"],
form.hs-form input[type="checkbox"] {
  width: auto;
  margin-right: 20px;
}

/* line 23, ../sass/_form.scss */
form.hs-form input,
form.hs-form textarea,
form.hs-form select,
.hs-form-radio-display span,
.hs-form-checkbox-display span,
.hs-form-booleancheckbox-display span {
  font-size: 16px;
}

/* line 32, ../sass/_form.scss */
form.hs-form input:focus,
form.hs-form textarea:focus,
form.hs-form select:focus {
  outline: none;
  border: 1px solid #000;
}

/* line 39, ../sass/_form.scss */
form.hs-form select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 43, ../sass/_form.scss */
form.hs-form select:focus {
  outline: none;
}

/* line 47, ../sass/_form.scss */
form.hs-form input[type="submit"] {
  border: none;
}

/* line 51, ../sass/_form.scss */
form.hs-form .hs-form-field label {
  padding-bottom: 10px;
  display: block;
}

/* line 56, ../sass/_form.scss */
form.hs-form .hs-form-field label.hs-form-radio-display,
form.hs-form .hs-form-field label.hs-form-checkbox-display {
  padding-bottom: 0;
}

/* line 61, ../sass/_form.scss */
form.hs-form .hs_submit {
  text-align: center;
}

/* line 65, ../sass/_form.scss */
form.hs-form .hs_submit .actions {
  display: inline-block;
}

/* line 69, ../sass/_form.scss */
form.hs-form .hs_submit input {
  background: #ff9d00;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -webkit-appearance: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #ff9d00;
  padding: 15px;
  cursor: pointer;
  margin-top: 15px;
}
/* line 18, ../sass/_mixins.scss */
form.hs-form .hs_submit input:hover {
  background: #fff;
  color: #ff9d00;
}

/* line 74, ../sass/_form.scss */
form.hs-form .hs-form-field {
  padding: 10px 0;
}

/* line 78, ../sass/_form.scss */
form.hs-form fieldset {
  max-width: 670px;
  margin: 0 auto;
}

/* line 83, ../sass/_form.scss */
form.hs-form fieldset:first-child {
  padding-top: 0;
}

/* line 87, ../sass/_form.scss */
form.hs-form fieldset:last-child {
  padding-bottom: 0;
}

/* line 91, ../sass/_form.scss */
form.hs-form fieldset.form-columns-1 .hs-input {
  width: 100%;
}

/* line 95, ../sass/_form.scss */
form.hs-form .hs-error-msgs.inputs-list {
  margin: 0 0;
  color: #fc1111;
  list-style-type: none;
  padding: 5px 0 0 0;
}

/* line 102, ../sass/_form.scss */
form.hs-form .hs-error-msgs.inputs-list li {
  margin: 0 0;
}

/* line 106, ../sass/_form.scss */
form.hs-form .hs-error-msgs.inputs-list label {
  font-size: 14px;
  padding: 0 0;
}

@media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px) {
  /* line 113, ../sass/_form.scss */
  form.hs-form fieldset.form-columns-2 .hs-form-field .hs-input,
  form.hs-form fieldset.form-columns-3 .hs-form-field .hs-input {
    width: 100%;
  }
}
/* line 119, ../sass/_form.scss */
form.hs-form .hs-error-msgs * {
  color: #fc1111;
}

/* line 1, ../sass/_utility.scss */
.page-center {
  max-width: 975px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 12px 20px;
}

/* line 10, ../sass/_utility.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/_utility.scss */
body {
  margin: 0;
  border-top: none;
}

@media (max-width: 767px) {
  /* line 20, ../sass/_utility.scss */
  .hide-mobile {
    display: none;
  }
}

/* line 26, ../sass/_utility.scss */
.display-none.display-none {
  display: none;
}

/* line 11, ../sass/screen.scss */
.lp__header {
  border-bottom: 1px solid #cacdce;
}

/* line 15, ../sass/screen.scss */
.lp__header--inner {
  padding: 12px 20px 5px 20px;
}

/* line 20, ../sass/screen.scss */
.hs_cos_wrapper_type_logo img.hs-image-widget {
  max-width: 180px;
  padding: 5px 0;
}

/* line 26, ../sass/screen.scss */
.lp__top {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 0 30px 0;
}
@media (max-width: 767px) {
  /* line 26, ../sass/screen.scss */
  .lp__top {
    display: none;
  }
}

/* line 38, ../sass/screen.scss */
.lp__left {
  padding: 0 35px 0 0;
}
@media (max-width: 767px) {
  /* line 38, ../sass/screen.scss */
  .lp__left {
    padding: 0 0;
  }
}

/* line 46, ../sass/screen.scss */
.lp__right {
  padding: 0 0 0 35px;
}
@media (max-width: 767px) {
  /* line 46, ../sass/screen.scss */
  .lp__right {
    padding: 25px 0 0 0;
  }
  /* line 52, ../sass/screen.scss */
  .lp__right form.hs-form .hs_submit {
    text-align: center;
  }
}

/* line 58, ../sass/screen.scss */
.lp__body {
  padding-top: 40px;
  padding-bottom: 50px;
}

/* line 64, ../sass/screen.scss */
.social__wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding: 5px 0;
}

/* line 71, ../sass/screen.scss */
.social__icon {
  text-decoration: none;
  font-size: 32px;
  color: #292f33;
  padding: 0 4px;
}
@media (max-width: 767px) {
  /* line 71, ../sass/screen.scss */
  .social__icon {
    padding: 7px;
  }
}

/* line 83, ../sass/screen.scss */
.social__icon--facebook:hover {
  color: #3b5998;
}

/* line 89, ../sass/screen.scss */
.social__icon--twitter:hover {
  color: #00aced;
}

/* line 94, ../sass/screen.scss */
.social__icon--linkedin:hover {
  color: #0077B5;
}

/* line 99, ../sass/screen.scss */
.social__icon--email:hover {
  color: #d34836;
}

/* line 105, ../sass/screen.scss */
.lp__form--webinar,
.lp__form--ebook {
  background: #f6f7f8;
  border: 1px solid #cacdce;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  padding: 30px 30px 40px 30px;
  margin: 0 0;
}
@media (max-width: 767px) {
  /* line 105, ../sass/screen.scss */
  .lp__form--webinar,
  .lp__form--ebook {
    padding: 30px 20px 40px 20px;
  }
}
/* line 117, ../sass/screen.scss */
.lp__form--webinar .form-title,
.lp__form--ebook .form-title {
  display: none;
}

/* line 123, ../sass/screen.scss */
.lp__type,
.lp__feat,
.typ__offers {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #808285;
  text-transform: uppercase;
}

/* line 132, ../sass/screen.scss */
.lp__type {
  padding: 0 0;
}

/* line 136, ../sass/screen.scss */
.lp__feat {
  padding: 0 0 10px 0;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  /* line 136, ../sass/screen.scss */
  .lp__feat {
    text-align: center;
    padding: 0 0 10px 0;
  }
}

/* line 147, ../sass/screen.scss */
.lp__title {
  padding: 0 0;
}
@media (max-width: 767px) {
  /* line 147, ../sass/screen.scss */
  .lp__title {
    text-align: center;
  }
}

/* line 156, ../sass/screen.scss */
.lp__tagline {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  /* line 156, ../sass/screen.scss */
  .lp__tagline {
    text-align: center;
    font-size: 22px;
  }
}

/* line 168, ../sass/screen.scss */
.lp__description ul {
  list-style-type: none;
  padding-left: 40px;
  margin: 30px 0;
}

/* line 174, ../sass/screen.scss */
.lp__description ul li {
  position: relative;
  padding-top: 15px;
  margin: 0 0;
}

/* line 180, ../sass/screen.scss */
.lp__description ul li:first-child {
  padding-top: 0;
}

/* line 184, ../sass/screen.scss */
.lp__description ul li:before {
  font-family: FontAwesome;
  content: "\f00c";
  position: absolute;
  left: -40px;
  margin-top: 1px;
  height: 20px;
  width: 22px;
  display: block;
  line-height: 1;
  color: #ff9d00;
  font-size: 25px;
  display: block;
}

/* line 199, ../sass/screen.scss */
.lp__description {
  padding-bottom: 20px;
}

/* line 203, ../sass/screen.scss */
.lp__form .form-title {
  display: none;
}

/* line 210, ../sass/screen.scss */
.lp__img img {
  max-width: 100%;
}
@media (max-width: 767px) {
  /* line 210, ../sass/screen.scss */
  .lp__img img {
    max-height: 300px;
    width: auto !important;
    margin: 0 auto;
    display: block;
    padding: 0 0 30px 0;
  }
}

/* line 223, ../sass/screen.scss */
.lp__form form.hs-form .hs_submit {
  text-align: left;
}

/* line 227, ../sass/screen.scss */
.lp__datetime {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #ff9d00;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 0 30px 0;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  /* line 227, ../sass/screen.scss */
  .lp__datetime {
    text-align: center;
    padding: 0 0 20px 0;
  }
}

@media (max-width: 767px) {
  /* line 243, ../sass/screen.scss */
  .lp__date,
  .lp__time {
    display: block;
  }
}
/* line 250, ../sass/screen.scss */
.lp__host {
  display: -webkit-flex;
  display: flex;
  padding: 0 0 20px 0;
}
@media (max-width: 767px) {
  /* line 250, ../sass/screen.scss */
  .lp__host {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/* line 259, ../sass/screen.scss */
.lp__host-item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-align-items: center;
  align-items: center;
}
/* line 265, ../sass/screen.scss */
.lp__host-item:first-child {
  padding-right: 10px;
}
/* line 269, ../sass/screen.scss */
.lp__host-item:not(:first-child) {
  padding-left: 10px;
}
@media (max-width: 767px) {
  /* line 259, ../sass/screen.scss */
  .lp__host-item {
    display: block;
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  /* line 277, ../sass/screen.scss */
  .lp__host-item:first-child {
    padding-right: 0;
  }
  /* line 281, ../sass/screen.scss */
  .lp__host-item:not(:first-child) {
    padding-left: 0;
    padding-top: 15px;
  }
}

/* line 288, ../sass/screen.scss */
.lp__host-photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80px;
  width: 80px;
  -moz-border-radius: 40px / 40px;
  -webkit-border-radius: 40px 40px;
  border-radius: 40px / 40px;
}
@media (max-width: 767px) {
  /* line 288, ../sass/screen.scss */
  .lp__host-photo {
    margin: 0 auto;
  }
}

/* line 301, ../sass/screen.scss */
.lp__host-details {
  padding-left: 20px;
  font-size: 12px;
}
@media (max-width: 767px) {
  /* line 301, ../sass/screen.scss */
  .lp__host-details {
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
  }
}

/* line 312, ../sass/screen.scss */
.lp__host-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 0;
  line-height: 1.5;
}

/* line 321, ../sass/screen.scss */
.lp__host-title {
  font-size: 16px;
  line-height: 1.5;
}

/* line 327, ../sass/screen.scss */
.lp__footer {
  text-align: center;
  padding: 20px 0;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 327, ../sass/screen.scss */
  .lp__footer {
    padding: 20px 0 20px 0;
  }
}

/* line 338, ../sass/screen.scss */
.lp__header-widget {
  width: 100% !important;
}

/* line 342, ../sass/screen.scss */
.typ__menu-icon,
.typ__menu {
  min-height: 0 !important;
}

/* line 349, ../sass/screen.scss */
.typ__menu ul {
  float: right;
  padding: 0 0 0 10px;
}
/* line 353, ../sass/screen.scss */
.typ__menu ul.typ__menu--show {
  padding: 15px 0;
  width: 100%;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 767px) {
  /* line 353, ../sass/screen.scss */
  .typ__menu ul.typ__menu--show {
    display: -webkit-flex !important;
    display: flex !important;
  }
}
@media (max-width: 767px) {
  /* line 349, ../sass/screen.scss */
  .typ__menu ul {
    display: none !important;
    padding: 0 0;
  }
}
/* line 371, ../sass/screen.scss */
.typ__menu ul li {
  text-align: center;
}
/* line 376, ../sass/screen.scss */
.typ__menu a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: #292f33;
  display: inline-block;
  text-align: center;
}
/* line 385, ../sass/screen.scss */
.typ__menu a:hover {
  color: #ff9d00;
}

/* line 391, ../sass/screen.scss */
.typ__menu-icon {
  display: none;
}
@media (max-width: 767px) {
  /* line 391, ../sass/screen.scss */
  .typ__menu-icon {
    min-height: 0 !important;
    display: inline-block;
  }
  /* line 398, ../sass/screen.scss */
  .typ__menu-icon .typ__menu-icon-lines-wrap {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px;
  }
  /* line 405, ../sass/screen.scss */
  .typ__menu-icon .typ__menu-icon-lines {
    border-bottom: 16px double #ff9d00;
    border-top: 5px solid #ff9d00;
    content: "";
    height: 5px;
    width: 40px;
    padding-right: 15px;
    margin: 0px;
    padding: 3px;
  }
}

/* line 419, ../sass/screen.scss */
.typ__hero {
  text-align: center;
  padding: 40px 0 15px 0;
}

/* line 424, ../sass/screen.scss */
.typ__cta-wrap {
  padding: 20px 0 50px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
}
@media (max-width: 767px) {
  /* line 424, ../sass/screen.scss */
  .typ__cta-wrap {
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0 0 20px 0;
  }
}

/* line 436, ../sass/screen.scss */
.typ__cta {
  margin: 0 10px;
}
/* line 439, ../sass/screen.scss */
.typ__cta:first-child {
  background: #ff9d00;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -webkit-appearance: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #ff9d00;
  padding: 15px;
  cursor: pointer;
}
/* line 18, ../sass/_mixins.scss */
.typ__cta:first-child:hover {
  background: #fff;
  color: #ff9d00;
}
/* line 442, ../sass/screen.scss */
.typ__cta:not(:first-child) {
  background: #fff;
  color: #ff9d00;
  text-transform: uppercase;
  border-radius: 4px;
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -webkit-appearance: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #ff9d00;
  padding: 15px;
  cursor: pointer;
}
/* line 18, ../sass/_mixins.scss */
.typ__cta:not(:first-child):hover {
  background: #ff9d00;
  color: #fff;
}
@media (max-width: 767px) {
  /* line 436, ../sass/screen.scss */
  .typ__cta {
    margin: 10px 0;
  }
}

/* line 451, ../sass/screen.scss */
.typ__social {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 767px) {
  /* line 451, ../sass/screen.scss */
  .typ__social {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/* line 462, ../sass/screen.scss */
.typ__social-tag {
  margin: 0 15px 0 0;
}

/* line 466, ../sass/screen.scss */
.typ__offer-block {
  background: #f6f7f8;
  padding: 30px 0;
  border-top: 1px solid #cacdce;
  border-bottom: 1px solid #cacdce;
}

/* line 473, ../sass/screen.scss */
.typ__offers {
  margin: 0 0 10px 0;
  color: #292f33;
}

/* line 478, ../sass/screen.scss */
.typ-card {
  text-decoration: none;
  padding: 0 0 30px 0;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 10px;
  background: #fff;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  border: 1px solid #cacdce;
  max-width: 450px;
}
@media (max-width: 767px) {
  /* line 490, ../sass/screen.scss */
  .typ-card:not(:first-child) {
    margin-top: 30px;
  }
}

/* line 497, ../sass/screen.scss */
.typ-card__wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
  padding: 20px 0;
}
@media (max-width: 767px) {
  /* line 497, ../sass/screen.scss */
  .typ-card__wrap {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/* line 509, ../sass/screen.scss */
.typ-card__photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 150px;
  position: relative;
}

/* line 518, ../sass/screen.scss */
.typ-card__no-photo {
  position: relative;
  height: 15px;
}
/* line 522, ../sass/screen.scss */
.typ-card__no-photo .typ-card__type {
  left: 0px;
}

/* line 527, ../sass/screen.scss */
.typ-card__content {
  margin: 20px 0;
  padding: 0 20px;
}

/* line 532, ../sass/screen.scss */
.typ-card__type {
  text-transform: uppercase;
  line-height: 1.3;
  background: #ff9d00;
  padding: 4px 15px;
  color: #fff;
  position: absolute;
  top: -13.5px;
  left: 20px;
}

/* line 543, ../sass/screen.scss */
.typ-card__title {
  font-size: 18px;
  margin: 0 0 10px 0;
}

/* line 548, ../sass/screen.scss */
.typ-card__desc {
  font-size: 16px;
  margin: 0 0;
}

/* line 553, ../sass/screen.scss */
.typ-card__btn-wrap {
  padding: 0 20px;
}
@media (max-width: 767px) {
  /* line 553, ../sass/screen.scss */
  .typ-card__btn-wrap {
    text-align: center;
  }
}

/* line 561, ../sass/screen.scss */
.typ-card__btn {
  background: #fff;
  color: #ff9d00;
  text-transform: uppercase;
  border-radius: 4px;
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -webkit-appearance: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #ff9d00;
  padding: 15px;
  cursor: pointer;
  display: inline-block;
}
/* line 18, ../sass/_mixins.scss */
.typ-card__btn:hover {
  background: #ff9d00;
  color: #fff;
}
