// styles for the subscribe form can be found in _form.scss

.agile__hero {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center center;
    @include box-shadow(0 0 20px 0 rgba(0,0,0,0.2));
    text-align: center;
    position: relative;

    .agile__hero-body {
        z-index: 1;
        position: relative;
    }

    .agile__hero-filter {
        background: $img-filter;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    h1 {
        text-align: center;
    }

    .agile__header {
        border-bottom: none;
    }

    .agile__menu {
        ul {
            @media (max-width: $break-mob) {
                background: rgba(255,255,255,.9);
                border: 1px solid $light-grey-border;
                margin: 20px 0 0 0;
            }
        }
    }

    &.agile__hero--dark-bg {

        * {
            color: #fff;
        }

        .agile__menu ul {
            background: transparent;
        }

        @media (max-width: $break-mob) {
            .agile__menu-icon .agile__menu-icon-lines {
                border-bottom: 16px double #fff;
                border-top: 5px solid #fff;
            }
        }

        form.hs-form {
            .hs_submit input {
                background: rgba(255,255,255,.2);

                &:hover {
                    background: #fff;
                    color: $body-color;
                }
            }

            input,
            textarea,
            select,
            input:focus, 
            textarea:focus, 
            select:focus {
                border: 1px solid #fff;
                background: rgba(255, 255, 255, 0);
            }

            .hs-error-msgs * { /* Firefox 18- */
                color: #fff;
            }

            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: rgba(255, 255, 255, .75);
            }
            ::-moz-placeholder { /* Firefox 19+ */
                color: rgba(255, 255, 255, .75);
            }
            :-ms-input-placeholder { /* IE 10+ */
                color: rgba(255, 255, 255, .75);
            }
            :-moz-placeholder { /* Firefox 18- */
                color: rgba(255, 255, 255, .75);
            }
        }
    }

    &.agile__hero--light-bg {

        * {
            color: $body-color;
        }
    }
}

.agile__hero--inner {
    padding: 100px 0 180px 0;

    @media (max-width: $break-mob) {
        padding: 70px 0 100px;
    }
}