/////////////////////////////////////////////////////////////////////////////////////
// TYPOGRAPHY
/////////////////////////////////////////////////////////////////////////////////////
.post__tagline,
.post__tagline span,
.post__tagline p {
    font-size: 14px;
    color: $grey-text;
    font-weight: 300;
    line-height: 1.5;
}

.post--blog .post__tagline,
.post--blog .post__tagline span,
.post--blog .post__tagline p {
    font-size: 18px;
}

.post__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    margin: 0 0;
    padding: 0 0 4px 0;
}

.post__title-link {
    text-decoration: none;
    @include transition(.3s all);
    color: $body-color;
}

.post__title-link:hover {
    color: $body-color;
}

.post__topics {
    @include smallFont;
    margin: 0 0;
}

.post__topic-link,
.article__topic-link {
    background: $bg-grey;
    padding: 2px 15px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 3px;
    @include smallFont;
    @include transition(.3s all);

    .fa-tag {
        margin-right: 8px;
    }

    &:hover {
        color: $body-color;
    }
}

.post {
    @include transition(all .3s);

    &:hover {
        @include box-shadow(0 0 20px 0 rgba(0,0,0,0.2));

        .post__cta {
            opacity: 1;
            background: rgba(255,255,255,.2);
        }

        .post__img-filter {
            background: rgba(78, 38, 0, 0.4);
        }
    }  
}


/////////////////////////////////////////////////////////////////////////////////////
// LAYOUT
/////////////////////////////////////////////////////////////////////////////////////
// .agile__body-wrap {
//     padding: 60px 0;
// }

.listing--main {
    position: relative;
    z-index: 2;
    padding: 60px 0 0 0;
}

.post--featured {
    @include display-flex;
    margin-bottom: 40px;
}

.post--featured, 
.post--recent .post__preview {
    border: 1px solid $light-grey-border;
}


/////////////////////////////////////////////////////////////////////////////////////
// SPECIFIC STYLES FOR FEATURED POST
/////////////////////////////////////////////////////////////////////////////////////
.post--featured {
    .post__preview {
        @include flex-basis(0);
        @include flex-grow(2);
    }
    .post__img-wrap {
        flex-basis: 0;
        flex-grow: 1;
    }
}

.post--recent-wrap {
    @include display-flex;
    @include align-items(stretch);
    @include justify-content(space-between);
    flex-flow: row wrap;

    @media (max-width: $break-mob) {
        flex-direction: column;
    }
}

.post--recent {
    @include display-flex;
    @include align-items(stretch);
    @include justify-content(center);
    @include flex-direction(column);
    width: 48%;
    margin: 15px 0;
    padding: 0;
    @include transition(.3s all);
}

.post--recent .post__img-wrap {
    min-height: 200px;
    max-height: 200px;
}

.post--recent .post__preview {
    padding: 30px 20px 40px;
    height: 100%;
}

.post__img-wrap {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    padding: 20px 20px;
    text-decoration: none;
    position: relative;
}

.post__cta {
    @include button(transparent, #fff, #fff, rgba(255,255,255,.2), #fff);
    position: relative; 
    opacity: 0;
    @include transition(.3s all);
}

.post__img-filter {
    @include transition(all .3s);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.post__date-wrap {
    @include display-flex;
    @include align-items(center);
    @include justify-content(space-between);
    padding: 0 0 12px 0;
}

.post__date {
    @include smallFont;
}

.social__wrap {
    padding: 2px 0;
}

.social__icon {
    text-decoration: none;
    font-size: 22px;
    color: $grey-text;
    padding: 0 1px;
    @include transition(.3s all);

    @media (max-width: $break-mob) {
        padding: 7px;
    }
}

.social__icon--facebook {
    &:hover {
        color: $fb-blue;    
    }
}

.social__icon--twitter {
    &:hover {
        color: $twitter-blue;   
    }
}
.social__icon--linkedin {
    &:hover {
        color: $li-blue;    
    }
}
.social__icon--email {
    &:hover {
        color: $mail-red;   
    }
}

.post__preview {
    padding: 50px 20px;
    @include display-flex;
    @include align-items(flex-start);
    @include justify-content(space-between);
    @include flex-direction(column);
}

.post__preview--top {
    width: 100%;
}

.post__tagline {
    padding: 10px 0 30px 0;
}

.post__author {
    text-decoration: none;
    font-weight: 600;
    color: $link-color;
}

.post__author-img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    @include border-radius(25px);
}

.post__byline-wrap {
    display: table;
    padding: 0 0 10px 0;
}

.post__author-img,
.post__byline {
    display: table-cell;
    vertical-align: middle;
    @include smallFont;
}


/////////////////////////////////////////////////////////////////////////////////////
// MOBILE
/////////////////////////////////////////////////////////////////////////////////////
@media (max-width: $break-mob) {
    .listing--main {
        .post {
            padding: 0 0;
        }
        .post--featured {
            display: block;
        }
        .post--featured .post__img-wrap {
            height: 200px;
        }
        .post--featured .post__preview {
            padding: 30px 20px 50px;
        }
        .post--recent {
            display: block;
            width: 100%;
        }
        .post--featured,
        .post--recent {
            margin-bottom: 20px;
        }
        .post__cta {
            opacity: 1;
        }
        .social__wrap {
            display: none;
        }
    }
}


/////////////////////////////////////////////////////////////////////////////////////
// PAGINATION
/////////////////////////////////////////////////////////////////////////////////////
.pagination {
    @include display-flex;
    @include align-items(center);
    @include justify-content(space-between);
    padding: 40px 0 60px 0;
    width: 100%;

    @media (max-width: $break-mob) {
        display: none;
    }
 }

.pagination__first,
.pagination__last,
.pagination__item {
    color: $grey-text;
    text-decoration: none;
}

.pagination__first {
    padding-right: 25px;
}

.pagination__last {
    padding-left: 25px;
    text-align: right;
}

.pagination__item {
    background: $bg-grey;
    font-family: $main-font;
    text-decoration: none;
    padding: 8px 10px;
    margin: 2px 3px;
    min-width: 46px;
    text-align: center;
    display: inline-block;
    @include transition(.3s all);
}

.pagination__item--current,
.pagination__item:hover {
    color: $body-color;
    opacity: 1;
}

.pagination--mobile {
    display: none;

    .pagination__first,
    .pagination__last {
        padding: 0 25px;
    }

    @media (max-width: $break-mob) {
        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        padding: 40px 0 60px 0;
        width: 100%;
    }
}