@mixin button($background, $border, $color, $hoverbg:$color, $hovercolor:$background) {
    background: $background;
    color: $color;
    text-transform: uppercase;
    @include transition(all .4s ease);
    -webkit-appearance: none;
    font-family: $main-font;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid $border;
    padding: 15px;
    cursor: pointer;

    &:hover {
        background: $hoverbg;
        color: $hovercolor;
    }
}

@mixin smallFont {
    font-family: $main-font;
    font-size: 14px;
    color: $grey-text;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-weight: normal;
}