.page-center {
    max-width: 975px;
    margin: 0 auto;
    height: 100%;
    @include display-flex;
    @include flex-direction(column);
    padding: 12px 20px;
}

*, *:before, *:after {
    @include box-sizing(border-box);
}


body {
    margin: 0;
    border-top: none;
}

a {
    @include transition(color, .3s);
    color: $link-color;
    &:hover {
        color: $link-hover;       
    }
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

.hide-mobile {
    @media (max-width: $break-mob) {
    	display: none;
    }
}

.display-none.display-none {
    display: none;
}