// VARIABLES
$light-grey: #cccdcd;
$dark-grey: #6b787c;
$error-color: #f3654c; // red
$bg-grey: #f6f7f8;

$body-color: #292f33;

$form-submit: $error-color;

$break-mob: 767px;



$main-font: 'Open Sans', sans-serif;
$alt-font: 'Roboto', serif;