// borders
$dark-grey-border: #879498; // border around form and under nav

// backgrounds
$bg-grey: #f6f7f8; // form background on webinar lp

// error color
$error-color: #c60000; 

// text colors
$grey-text: #808285; 
$body-color: #292f33;

// highlight colors
$bullet-color: #ff9d00; // orange - should change to just $highlight-color
$form-submit: $bullet-color; //orange

// fonts
$main-font: 'Open Sans', sans-serif;
$alt-font: 'Open Sans', sans-serif;
//'Roboto', serif;

// social media colors
$fb-blue: #3b5998;
$twitter-blue: #00aced;
$li-blue: #0077B5;
$mail-red: #d34836;

// breakpoints
$break-mob: 767px;