// borders
$dark-grey-border: #879498; // border around form, form fields, under nav, etc
$light-grey-border: #cacdce;

// backgrounds
$bg-grey: #f6f7f8; // form background 

// error color
$error-color: #fc1111; // red 

// text colors
$grey-text: #808285; 
$body-color: #292f33;

// highlight colors
$highlight-color: #ff9d00; // orange

// fonts
$main-font: 'Open Sans', sans-serif;

// social media colors
$fb-blue: #3b5998;
$twitter-blue: #00aced;
$li-blue: #0077B5;
$mail-red: #d34836;

// breakpoints
$break-mob: 767px;