@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "compass/reset";
@import "variables";
@import "mixins";
@import "fonts";
@import "form";
@import "utility";

// NAV BAR 
.lp__header {
	border-bottom: 1px solid $light-grey-border;
}

.lp__header--inner {
	padding: 12px 20px 5px 20px;
}

.hs_cos_wrapper_type_logo {
	img.hs-image-widget {
		max-width: 180px;
		padding: 5px 0;
	}
}

.lp__top {
	@include display-flex;
	@include align-items(center);
	@include justify-content(space-between);
	padding: 0 0 30px 0;

	@media (max-width: $break-mob) {
		display: none;
	}
}

// PAGE LAYOUT
.lp__left {
	padding: 0 35px 0 0;

	@media (max-width: $break-mob) {
		padding: 0 0;
	}
}

.lp__right {
	padding: 0 0 0 35px;

	@media (max-width: $break-mob) {
		padding: 25px 0 0 0;
		
		form.hs-form .hs_submit {
			text-align: center;
		}
	}
}

.lp__body {
	padding-top: 40px;
	padding-bottom: 50px;
}

// SOCIAL SHARE
.social__wrap {
	@include display-flex;
	@include align-items(center);
	@include justify-content(flex-end);
	padding: 5px 0;
}

.social__icon {
	text-decoration: none;
	font-size: 32px;
	color: $body-color;
	padding: 0 4px;

	@media (max-width: $break-mob) {
		padding: 7px;
	}
}

.social__icon--facebook {
	&:hover {
		color: $fb-blue;	
	}
}

.social__icon--twitter {
	&:hover {
		color: $twitter-blue;	
	}
}
.social__icon--linkedin {
	&:hover {
		color: $li-blue;	
	}
}
.social__icon--email {
	&:hover {
		color: $mail-red;	
	}
}

// FORM 
.lp__form--webinar,
.lp__form--ebook {
	background: $bg-grey;
	border: 1px solid $light-grey-border;
	@include border-radius(4px, 4px);
	padding: 30px 30px 40px 30px;
	margin: 0 0;

	@media (max-width: $break-mob) {
		padding: 30px 20px 40px 20px;
	}

	.form-title {
		display: none;
	}
}

// TYPE OF OFFER (EX: "WEBINAR") and "FEATURING"
.lp__type,
.lp__feat,
.typ__offers {
	font-family: $main-font;
	font-size: 16px;
	color: $grey-text;
	text-transform: uppercase;
}

.lp__type {
	padding: 0 0;
}

.lp__feat {
	padding: 0 0 10px 0;
	margin-bottom: 0;

	@media (max-width: $break-mob) {
		text-align: center;
		padding: 0 0 10px 0;
	}
}

// TITLE OF OFFER
.lp__title {
	padding: 0 0;

	@media (max-width: $break-mob) {
		text-align: center;
	}
}

// TAGLINE UNDER OFFER
.lp__tagline {
	font-family: $main-font;
	font-size: 28px;
	line-height: 1.5;

	@media (max-width: $break-mob) {
		text-align: center;
		font-size: 22px;
	}
}

// DESCRIPTION OF OFFER
.lp__description ul {
	list-style-type: none;
	padding-left: 40px;
	margin: 30px 0;
}

.lp__description ul li {
	position: relative;
	padding-top: 15px;
	margin: 0 0;
}

.lp__description ul li:first-child {
	padding-top: 0;
}

.lp__description ul li:before {
	font-family: FontAwesome;
	content: "\f00c";
	position: absolute;
	left: -40px;
	margin-top: 1px;
	height: 20px;
	width: 22px;
	display: block;
	line-height: 1;
	color: $highlight-color;
	font-size: 25px;
	display: block;
}

.lp__description {
	padding-bottom: 20px;
}

.lp__form .form-title {
	display: none;
}

// IMG ON EBOOK LP
.lp__img {

	img {
		max-width: 100%;

		@media (max-width: $break-mob) {
			max-height: 300px;
			width: auto !important;
			margin: 0 auto;
			display: block;
			padding: 0 0 30px 0;
		}
	}
}

.lp__form form.hs-form .hs_submit {
	text-align: left;
}

.lp__datetime {
	font-family: $main-font;
	font-size: 24px;
	color: $highlight-color;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 0 30px 0;
	margin-bottom: 0;

	@media (max-width: $break-mob) {
		text-align: center;
		padding: 0 0 20px 0;
	}
}

@media (max-width: $break-mob) {
	.lp__date,
	.lp__time {
		display: block;
	}
}

// WEBINAR HOSTS
.lp__host {
	@include display-flex;
	padding: 0 0 20px 0;

	@media (max-width: $break-mob) {
		@include flex-direction(column);
	}
}

.lp__host-item {
	@include display-flex;
	@include flex-basis(0);
	@include flex-grow(1);
	@include align-items(center);

	&:first-child {
		padding-right: 10px;
	}

	&:not(:first-child) {
		padding-left: 10px;
	}

	@media (max-width: $break-mob) {
		display: block;
		@include flex-basis(auto);

		&:first-child {
			padding-right: 0;
		}

		&:not(:first-child) {
			padding-left: 0;
			padding-top: 15px;
		}
	}
}

.lp__host-photo {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 80px;
	width: 80px;
	@include border-radius(40px, 40px);

	@media (max-width: $break-mob) {
		margin: 0 auto;
	}
}

.lp__host-details {
	padding-left: 20px;
	font-size: 12px;

	@media (max-width: $break-mob) {
		text-align: center;
		padding-top: 10px;
		padding-left: 0;
	}
}

.lp__host-name {
	font-family: $main-font;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 18px;
	margin: 0 0;
	line-height: 1.5;
}

.lp__host-title {
	font-size: 16px;
	line-height: 1.5;
}

// FOOTER 
.lp__footer {
	text-align: center;
	padding: 20px 0;
	width: 100%;

	@media (max-width: $break-mob) {
		padding: 20px 0 20px 0;
	}
}

// TYP
.lp__header-widget {
	width: 100% !important;
}

.typ__menu-icon,
.typ__menu {
	min-height: 0 !important;
}

.typ__menu {

	ul {
		float: right;
		padding: 0 0 0 10px;

		&.typ__menu--show {
			padding: 15px 0;
			width: 100%;
			@include flex-basis(0);
			@include flex-grow(1);
			@include flex-direction(column);

			@media (max-width: $break-mob) {
				display: -webkit-flex !important;
				display: flex !important;
			}
		}

		@media (max-width: $break-mob) {
			display: none !important;
			padding: 0 0;
		}

		li {
			text-align: center;
		}
	}

	a {
		font-family: $main-font;
		text-decoration: none;
		padding: 5px 10px;
		font-size: 16px;
		text-transform: uppercase;
		color: $body-color;
		display: inline-block;
		text-align: center;
		&:hover {
			color: $highlight-color;
		}
	}
}

.typ__menu-icon {
	display: none; 

	@media (max-width: $break-mob) {
		min-height: 0 !important;
		display: inline-block;

		.typ__menu-icon-lines-wrap {
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 15px;
		}

		.typ__menu-icon-lines {
			border-bottom: 16px double $highlight-color;
			border-top: 5px solid $highlight-color;
			content: "";
			height: 5px;
			width: 40px;
			padding-right: 15px;
			margin: 0px;
			padding: 3px;
			
		}
	}
}    

.typ__hero {
	text-align: center;
	padding: 40px 0 15px 0;
}

.typ__cta-wrap {
	padding: 20px 0 50px 0;
	@include display-flex;
	@include justify-content(center);
	@include align-items(stretch);

	@media (max-width: $break-mob) {
		@include flex-direction(column);
		padding: 0 0 20px 0;
	}
}

.typ__cta {
	margin: 0 10px;

	&:first-child {
		@include button($highlight-color, $highlight-color, #fff);
	}
	&:not(:first-child) {
		@include button(#fff, $highlight-color, $highlight-color);
	}

	@media (max-width: $break-mob) {
		margin: 10px 0;
	}
}

.typ__social {
	@include display-flex;
	@include justify-content(center);
	@include align-items(center);
	padding: 20px 0;

	@media (max-width: $break-mob) {
		@include flex-direction(column);
	}
}

.typ__social-tag {
	margin: 0 15px 0 0;
}

.typ__offer-block {
	background: $bg-grey;
	padding: 30px 0;
	border-top: 1px solid $light-grey-border;
	border-bottom: 1px solid $light-grey-border;
}

.typ__offers {
	margin: 0 0 10px 0;
	color: $body-color;
}

.typ-card {
	text-decoration: none;
	padding: 0 0 30px 0;
	@include flex-basis(0);
	@include flex-grow(1);
	margin: 10px;
	background: #fff;
	@include border-radius(4px, 4px);
	border: 1px solid $light-grey-border;
	max-width: 450px;

	@media (max-width: $break-mob) {
		&:not(:first-child) {
			margin-top: 30px;
		}
	}

}

.typ-card__wrap {
	@include display-flex;
	@include justify-content(center);
	@include align-items(stretch);
	padding: 20px 0;

	@media (max-width: $break-mob) {
		@include flex-direction(column);

	}
}

.typ-card__photo {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 150px;
	position: relative;
}

.typ-card__no-photo {
	position: relative;
	height: 15px;

	.typ-card__type {
		left: 0px;
	}
}

.typ-card__content {
	margin: 20px 0;
	padding: 0 20px;
}

.typ-card__type {
	text-transform: uppercase;
	line-height: 1.3;
	background: $highlight-color;
	padding: 4px 15px;
	color: #fff;
	position: absolute;
	top: -13.5px;
	left: 20px;
}

.typ-card__title {
	font-size: 18px;
	margin: 0 0 10px 0;
}

.typ-card__desc {
	font-size: 16px;
	margin: 0 0;
}

.typ-card__btn-wrap {
	padding: 0 20px;

	@media (max-width: $break-mob) {
		text-align: center;
	}
}

.typ-card__btn {
	@include button(#fff, $highlight-color, $highlight-color);
	display: inline-block;
}

